@use "../abstract/mixins" as *;

$button-color : hsl(0, 0%, 17%);

.search {
  width: 100%;
  max-width: 557px;
  border-radius: var(--border-radius);
  margin-inline: auto;
  position: relative;
  --display-error-span: none;



  &__error {
    position: absolute;
    left: -2px;
    bottom: 0%;
    transform: translateY(50%);
    color: white;
    font-style: italic;
    background-color: red;
    width: calc(100% + 4px);
    padding: 1em;
    padding-bottom: 0;
    z-index: -1;
    border-radius: 5px;
    display: var(--display-error-span);
  }

  &--error {
    border: 2px solid red !important;
    background-color: rgb(255, 187, 187) !important;
    --display-error-span: block;
  }

  &__form {
    width: 100%;
    display: flex;
  }

  &__input {
    width: 90%;
    padding: 0.9em;
    line-height: 0;

    @include respond-to("small") {
      font-size: var(--fs-p-300);
    }
  }

  &__button {
    width: 10%;
    min-width: 50px;
    aspect-ratio: 1;
    display: grid;
    place-content: center;
    transform: translateX(2px);
    cursor: pointer;
    transition: background-color 150ms ease-in-out;
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);

    &:hover {
      background-color: lighten($button-color, 10%);
    }
  }
}